.table{
    margin:30px 20px 50px 100px;
    border-collapse: collapse;
    background-color: rgb(250,250,250);
    color:rgb(80,80,80)
}
.th{
    border: 1px solid black;
    height:30px;
    padding: 5px;
}
.td{
    border: 1px solid black;
    height: 25px;
    text-align: center;
}
.th1{
    width: 160px;
}
.th2{
    width:100px;
}
.th3{
    width:120px;
}
.x{
    cursor: pointer;
}
.mask{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 101;
    background-color: rgba(0,0,0,0.6);
}
.check{
    margin-left: calc(50vw - 250px);
    margin-top: 30vh;
    width: 500px;
    height: 100px;
    background-color: #424141;
    background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.checkBtn{
    width:100px;
    padding: 3px;
    font-weight: 700;
    border: none;
    cursor:pointer;
    background-color: rgb(200,200,200);
    color:rgb(45,45,45);
}
.checkBtn:hover{
    box-shadow: 2px 2px 2px  black;
    transform: translate(-2px , -2px);
    background-color: rgb(165, 137, 105);
    color:rgb(220, 220, 220);
}
.remark{
    position: absolute;
    top:3px;
    right:3px;
    font-size: 16px;
    font-weight: 700;
    color: hsl(0, 100%, 68%);
}
.tableContainer{
    height:300px;
    overflow:auto;
}
.cancle{
    color: red;
}
.complete{
    color: green;
}
.receive{
    color:aquamarine
}
.remind{
    font-size: 14px;
    font-weight: 500;
    color: rgb(251, 127, 127);
}
.btnC{
    width: 70%;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
@media(max-width:800px){
    .th1{width:10%}
    .th2{width:10%}
    .th3{width:10%}
    .th4{width:10%}
    .th5{width:8%}
    .th6{width:5%}
    .table{
        margin:30px 20px 50px 10px;}
}
@media(max-width:650px){
    .table{
        font-size: 12px;
    }
}
@media(max-width:450px){
    .table{
        font-size: 10px;
    }
}