.button{
    position: relative;
    background-color: transparent;
    width:100px;
    height: 200px;
    border:none;
    cursor: pointer;
}
.button:hover{
    transform: scale(1.05);
}
.button:active{
    transform: scale(0.95)
}
