.container{
    display: flex;
    color:rgb(50,50,50);
    margin-left: 50px;
}
.button{
    position: relative;
    z-index: 1;
    cursor: pointer;
    transition: font-weight 0.1s ease-in,color 0.3s ease-in;
}
.highbutton{
    font-weight: 700;
    color:rgb(220, 220, 220);
}
.rightbutton{
    right:200px;
}
.button:hover{
    font-weight: 700;
}
.button:active{
    transform: scale(0.95)
}
.checkbtn{
    margin-top:5px;
    width:50px;
    height:20px;
    font-size: 15px;
    background-color: rgb(200,200,200);
    border:0.5px solid black;
    cursor: pointer;
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    transition: transform 0.1s ease;
    color:rgb(45,45,45);
}
.checkbtn:hover{
    transform: translate(-1px,-1px);
    background-color: rgb(165, 137, 105);
    color:rgb(220, 220, 220);
}
.checkbtn:active{
    transform: scale(0.95)
}
.btnContainer{
    width: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left:503px;

}
.btnc{
    display: flex;
    justify-content: space-around;
}
.toggleBtn{
    position: absolute;
    background-color: rgb(220,220,220);
    padding: 2px 0px 2px 0px;
    color:rgb(80,80,80);
    width:260.4px;
    height: 22px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 58px;
    left:407.5px;
}
.toggleMask{
    position: absolute;
    width: 86.8px;
    height: 26px;
    background-color: rgb(165, 137, 105);
    z-index: 0;
}
.remind{
    position: absolute;
    font-size: 14px;
    font-weight: 500;
    color: rgb(251, 127, 127);
    top:93%;
    left:50%;
    transform: translateX(-50%);
}
@media(max-width:800px){
    .container{
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-top: 20px;
    }
    .btnContainer{
        left:50%;
        transform: translateX(-50%);
    
    }
    .toggleBtn{
        left:50%;
        transform: translateX(-50%);
        top:78px;
    }
}