.container{
    display: flex;
}
.form{
    display:flex;
    gap:5px;
    margin-top: 50px;
    margin-left: 50px;
    font-size: 20px;
    align-items: flex-end;
    flex-direction: column;
    align-items: flex-start;
}
.remind{
    font-size: 12px;
    font-weight: 500;
    color: red;
    margin-left: 5px;
    display: flex;
    align-items: flex-end;
}
.btn{
    margin-top: 20px;
    display: flex;
}
.table{
    margin-top: 50px;
    margin-left: 100px;
    border: 1px solid black;
    border-collapse: collapse;
    height: 50px;
}
.thI{
    width: 150px;
    border: 1px solid black;
}
.th{
    width: 100px;
    border: 1px solid black;
}
.td{
    text-align: center;
    border: 1px solid black;
    vertical-align: top;
    padding: 3px;
}
.del{
    color: white;
    font-size: 14px;
    line-height:19px;
    font-weight: 400;
    width: 20px;
    height: 20px;
    margin-left:4px;
    background-color:black;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}