.container{
    display: flex;
}
.form{
    display:flex;
    gap:5px;
    margin-top: 50px;
    margin-left: 50px;
    font-size: 20px;
    align-items: flex-end;
    flex-direction: column;
    align-items: flex-start;
}
.remind{
    font-size: 14px;
    font-weight: 500;
    color: rgb(251, 127, 127);
    margin-left: 5px;
    display: flex;
    align-items: flex-end;
}
.btn{
    margin-top: 20px;
    display: flex;
}
.table{
    margin-top: 50px;
    margin-left: 100px;
    border: 1px solid rgb(165, 137, 105);
    border-collapse: collapse;
    height: 50px;
}
.thI{
    width: 150px;
    border: 1px solid rgb(165, 137, 105);
}
.th{
    width: 100px;
    border: 1px solid rgb(165, 137, 105);
}
.td{
    text-align: center;
    border: 1px solid rgb(165, 137, 105);
    vertical-align: top;
    padding: 3px;
}
.thD{
    padding: 0px 5px 0px 5px;
}
.del{
    color: white;
    font-size: 14px;
    line-height:19px;
    font-weight: 400;
    width: 20px;
    height: 20px;
    margin-left:8px;
    text-align: center;
    cursor: pointer;
    transition: color 0.1s ease,font-size 0.1s ease,font-weight 0.1s ease;
}
.del:hover{
    color: rgb(255, 0, 0);
    font-size: 16px;
    font-weight: 700;
}
.del:active{
    transform: scale(0.95)
}
.input{
    border: none;
    background-color: rgb(230,230,230);
}
.input:focus{
    outline: none;
}