.imgContainer{
    position: relative;
    height: 30px;
    width: 30px;
}
.item{
    display: flex;
    align-items: center;
    padding: 5px;
    font-size: 16px;
    font-weight: 700;
    gap: 20px;
}
.content{
    margin-left: 150px;
    margin-top:20px;
    margin-bottom: 30px;
}
.input{
    border: none;
    border-radius: 10px;
    background-color: rgba(240, 248, 255, 0.851);
    font-size: 12px;
    padding: 2px 10px 2px 10px;
}
.input:focus{
    border: none;
    outline: none;
}
.remind{
    font-size: 14px;
    font-weight: 500;
    color: rgb(251, 127, 127);
}
.clickpay{
    cursor: pointer;
    text-decoration: underline;
    font-size: 12px;
    display: flex;
    align-items:flex-end ;
    color:rgb(180,180,180);
    transition:font-size 0.3s ease,color 0.3s ease;
}
.clickpay:hover{
    font-size: 14px;
    color: rgb(220,220,220);
}
.clickpay:active{
    transform: scale(0.95)
}
.btn{
    margin-top: 10px;
    margin-left: 200px;
}
@media(max-width:800px){
    .content{
        margin-left: 60px;
    }
}
@media(max-width:500px){
    .content{
        margin-left: 20px;
    }
}