.form{
    display:flex;
    gap:20px;
    margin-top: 50px;
    margin-left: 50px;
    font-size: 20px;
}
.remind{
    font-size: 14px;
    font-weight: 500;
    color: rgb(251, 127, 127);
}
.textarea{
    resize: none;
    width: 247.2px;
    background-color: transparent;
    border: 1px solid rgb(165, 137, 105);
    color: rgb(200,200,200);
}
.textarea:focus{
    outline: none;
}
.selectFile{
    padding: 3px;
    font-size: 15px;
    background-color: rgb(203, 203, 203);
    cursor: pointer;
    height: 21px;
    color:black;
}
.selectFile:hover{
    box-shadow:0.5px 0.5px ;
    transform: translate(-0.5px,-0.5px);
    background: linear-gradient(to right,white,rgb(244, 200, 134));
}
.selectFile:active{
    transform: scale(0.95)
}
.filename{
    font-size: 15px;
    font-weight: 700;
    width: 120px;
    height:160px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    width: 90px;
    height:121px;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
}
.btnContainer{
    display: flex;
    width:450px;
    margin-left: 50px;
    margin-top: 50px;
    justify-content: space-between;
}
.card{
    width:247px;
    height: 121px;
    display: flex;
    position: relative;
    border: 1px solid rgb(165, 137, 105);
}
.btn1{
    position: absolute;
    top:200px;
    left:650px;
}
.btn2{
    position: absolute;
    bottom: 80px;
    left:650px;
}