.container{
    min-width: 100px;
    border-left:1px solid rgb(165, 137, 105); ; 
    height: 100%;  
    font-size: 18px; 
    margin-right: 100px;
}

.a{
    color: transparent;
    text-decoration:none ;
}
.item{
    margin:2px;
    cursor: pointer;
    margin-bottom: 10px;
    color:rgb(220, 220, 220);
    text-align: center;
    transition: color 0.2s ease-in;
}

.item:hover{
    color:rgb(160,140,40)
}
.item:active{
    transform: scale(0.95)
}
.high{
    color:rgb(200,170,40);
}