.container{
    min-width: 100px;
    height: 300px;
    background:linear-gradient(to top ,rgb(120,120,120),rgb(45,45,45));
}

.a{
    color: transparent;
    text-decoration:none ;
}
.item{
    margin:2px;
    cursor: pointer;
    margin-bottom: 10px;
    color:rgb(220, 220, 220);
    text-align: center;
}

.item:hover{
    color:rgb(160,140,40)
}
.item:active{
    transform: scale(0.95)
}
.high{
    color:rgb(200,170,40);
}