.mask{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 101;
    background-color: rgba(0,0,0,0.6);
}
.container{
    position: relative;
    margin-left: calc(50vw - 250px);
    margin-top: 30vh;
    width: 500px;
    background-color: #424141;
    background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    gap:10px;   
}
.url{
    text-decoration: underline;
    cursor: pointer;
    margin: 10px;
}
.url:hover{
    color:rgb(242, 248, 171);
}
.button{
    height:20px;
    font-size: 15px;
    background-color: rgb(200,200,200);
    color:rgb(45,45,45);
    border:0.5px solid black;
    cursor: pointer;
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    transition: transform 0.1s ease,color 0.1s ease;
}
.button:hover{
    transform: translate(-1px,-1px);
    background-color: rgb(165, 137, 105);
    color:rgb(220, 220, 220);
}
.button:active{
    transform: scale(0.95)
}