.container{
    width: 100%;
    height: 80vh;
    position: relative;
    color:rgb(200,170,40)
}
.content{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
}
.text{
    box-sizing: border-box;
    width: 30%;
    height: 100%;
    padding: 20px;
    font-size: 34px;
    padding-top: 10vh;
}
.img{
    width: 70%;
    height:100%;
    position: relative;
}

.ImgContainer{
    position: absolute;
    width: 40%;
    height: 40%;
}
.GImgContainer{
    position: absolute;
    width: 40%;
    height: 40%;
}
.ImgContainer:nth-child(1){
    top:5%;
    left:5%
}
.ImgContainer:nth-child(2){
    top:5%;
    left:55%
}
.ImgContainer:nth-child(3){
    top:55%;
    left:5%
}
.ImgContainer:nth-child(4){
    top:55%;
    left:55%
}
.GImgContainer:nth-child(1){
    width: 50%;
    left: 10%;
    top:20%;
    transform: rotate(-30deg);
}
.GImgContainer:nth-child(2){
    width: 50%;
    left: 40%;
    top:30%;
    transform: rotate(-30deg);
}