.container{

    width: 200px;

}
.image{
    width:200px;
    height:200px;
    position: relative;
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
