.account__container{
    width:747px;
    /* position: absolute; */
    bottom: 100px;
    right: 100px;
}
.account__containerIn{
    width:607px;
    margin:10px;
}
.data__list{
    margin-right: 10px;
}
.isset{
    background-color:aquamarine;
}
.date__container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width:747px;
    margin:auto;
    margin-top: 5px;
}
.date__container div {
    width:100px;
    border-bottom:1px solid black;
    border-left:1px solid black;
    padding:3px;
}
.date__container:nth-child(-n+7){
    border-top: 1px solid black;
}
.date__container div:nth-child(7n){
    border-right: 1px solid black;
}

.date__week{
    height:30px;
}
.date__item{
    height:50px;
    user-select: none;
}

.date__today{
    background-color: antiquewhite;
}
.delay{
    background-color: gray;
}

.date__containerIn{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width:607px;
    margin:auto;
    margin-top: 5px;
}
.date__containerIn div {
    width:80px;
    border-bottom:1px solid black;
    border-left:1px solid black;
    padding:3px;
}
.date__containerIn:nth-child(-n+7){
    border-top: 1px solid black;
}
.date__containerIn div:nth-child(7n){
    border-right: 1px solid black;
}


.choose{
    background-color: yellow;
}
