.start{
    position: relative;
    color:black;
    width:200px;
    height: 50px;
    font-size: 23px;
    font-weight: 700;
    border:none;
    text-align: center;
    z-index: 8;
    opacity: 1;
    cursor: pointer;
    background-color: rgb(200,170,45);
    background-image: url("/stardust.png");
}
.start:hover{
    color:rgb(229, 246, 168);
}
.start:active{
    transform: scale(0.9);
}
@media(max-width:800px){
    .start{
        width:150px;
        height: 40px;
        font-size: 18px;
    }
}
@media(max-width:500px){
    .start{
        width:120px;
        height: 30px;
        font-size: 15px;
    }
}