.mask{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 101;
    background-color: rgba(0,0,0,0.6);
}
.container{
    margin-left: calc(50vw - 250px);
    margin-top: 30vh;
    width: 500px;
    height: 150px;
    background-color: #424141;
    background-image: url("/stardust.png");
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tapContainer{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 20px;
}
.title{
    margin-top: 20px;
    margin-bottom: 20px;
}
.tap{
    background-color: white;
    color:rgb(2, 64, 87);
    font-size: 20px;
    font-weight: 700;
    padding: 3px 5px 3px 5px;
    border: none;
    cursor: pointer;
}
/* .tap:hover{
    color: brown;
    box-shadow:1px 1px 1px ;
    transform: translate(-1px,-1px);
} */
.good:hover{
    color: rgb(53, 191, 76);
    box-shadow:1px 1px 1px ;
    transform: translate(-1px,-1px);
}
.bad:hover{
    color: rgb(188, 62, 62);
    box-shadow:1px 1px 1px ;
    transform: translate(-1px,-1px);
}
.tap:active{
    transform: scale(0.95)
}
.remind{
    font-size: 14px;
    font-weight: 700;
    color: rgb(251, 127, 127);
    margin-bottom: 10px;
}
.remark{
    font-size: 14px;
}