.container{
    height: 600px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(215, 178, 135);
}
.title{
    min-width:150px;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.listContainer{
    display: flex;
    width: 1000px;
    overflow-x: hidden;
}
.titleContainer{
    display: flex;
    width: 150px;
    overflow-x: hidden;
    position: absolute;
    top:50px;
    left:50%;
    transform: translateX(-50%);
    z-index: 10;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}
.list{
    width:1000px;
    min-width: 1000px;
    display: flex;
    justify-content: space-around;
    opacity: 0;
    transition: opacity 0.5s ease;
    overflow: hidden;
}
.highLight{
    opacity: 1;
}
.circleContainer{
    position: absolute;
    top:450px;
    width:200px;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
}
.circle{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(84,84,84);
    cursor: pointer;
}
.highCircle{
    background-color: rgb(200,200,200);
}
@media(max-width:800px){
    .listContainer{
        width: 500px;
    }
    .list{
        width:500px;
        min-width: 500px;
        display:grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 60px;
        justify-content: space-between;
    }
    .titleContainer{
        top:5px;
        left:50px;
    }
    .circleContainer{
        top:600px;
    }
}
@media(max-width:600px){
    .container{
        height: 1200px;
    }
    .listContainer{
        width: 200px;
    }
    .list{
        width:200px;
        min-width:200px;
        display:grid;
        grid-template-columns: 1fr ;
        margin-top: 60px;
        justify-content: space-between;
    }
    .circleContainer{
        top:1200px;
    }
}