.container{
    width:calc(100vw - 17px);
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    position: relative;
    color:rgb(215, 178, 135);
}
.content{
    width:1000px;
    height: 500px;
    display: flex;
}
.image{
    margin-top: 90px;
    position: relative;
    height:360px;
    width:270px;
}
.description{
    width:650px;
    margin-left: 50px;
    margin-top: 90px;
    font-size: 20px;
}
.h2{
    position: absolute;
    top:50px;
    left:50%;
    transform: translateX(-50%);
    font-size: 40px;
    margin:0;
    font-weight: 700;
}